{% extends "layout.html" %}

{% block title %}OneTrust{% endblock %}

{% block content %}
  <div class="container" id="canvas">
    <div class="row justify-content-center">
      <div class="col-sm-8 form-box rounded">
        <div class="row justify-content-center"><h4 class="mb-3">(Demo) OneTrust Input to IDV (Demo)</h4></div>
        <form class="needs-validation" id="user-info-form" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="address">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="your.name@email.com" required>
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit" id="send-onetrust-btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
