<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-grid.min.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}" media="screen" />
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; 
    </script>
    <title>{% block title %}{% endblock %} - WB ID Gateway</title>
    {% endblock %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Warner Bros IDV Pilot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active"> -->
          <li class="nav-item">
            <a class="nav-link" href="/">IDV Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kba-questions">KBA</a>
          </li>
        </ul>
      </div>
    </nav>

  </head>
  <body>
    <div id="content" class="d-flex">
    {% block content %}{% endblock %}
  </div>
  </body>
</html>
